* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

}

.container {
    width: 1328px;
    margin: auto;
}

/* header */

header {
    padding: 20px;
}

h1 {
    text-align: center;
}

/* nav */

nav {
    background: #aaa;
    padding: 24px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #000;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    background: #FFF;
    padding: 15px;
    transition: all ease-in-out 0.5s;
    border-radius: 10px 0;
}

nav ul li a:hover {
    background: #000;
    color: #fff;
}

/* banner */

#banner img {
    width: 100%;
}

/* posts */

.posts h2 {
    text-align: center;
    margin: 91px 0 62px;
    font-size: 64px;

}

.posts .container{
    display: flex;
    justify-content: space-between;
}

.posts .card{
    width: 360px;
}

.posts img{
    border-radius: 20px 20px 0 0;
}

.posts h3{
    font-size: 20px;
    margin: 16px 16px 0;
}

.posts h4{
    margin-left: 16px;
    font-weight: normal;
    font-size: 18px;
}

.posts p{
    margin: 32px 16px;
}

.posts a{
    background: #65558f;
    color: #fff;
    padding: 10px 14px;
    border-radius: 100px;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;

    
}

.posts a:hover{
    background: #554480;
}

.novidades .container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}

.novidades h1{
    font-size: 30px;
    margin-top: 20kpx;
}

.nosso-time .container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.nosso-time h1{
    font-size: 30px;
}



.posts .footer-card{
    display: flex;
    justify-content: flex-end;
}

.footer-top .container{
    
    display: flex;
    justify-content: space-between;
    border-top: 1px solid ;
    margin-bottom: 63px;
    
    
    
}

.link-group a{
    display: block;
    color: #000;
    text-decoration: none;
    margin: 25px 0px;
}

.footer-bottom p{
    
    display: flex;
    justify-content: center;
    background: #d9d9d9;
    height: 56px;
    align-items: center;
}





